.Menus
  .Menu
    .Menu__contents
      %p ふろんとれいず
      %img.gif{alt: "gif", src: "/assets/fr.gif"}/
      %P 慣れるまでは片手ずつ、片手で肩の前部を触れながら
    .Menu__contents
      %p さいどれいず
      %img.gif{alt: "gif", src: "/assets/sr.gif"}/
      %P 小指を上に、手を肘より上に挙げないよう
    .Menu__contents
      %p あっぷらいとろう
      %img.gif{alt: "gif", src: "/assets/ur.gif"}/
      %P 肩をすくめないよう
    .Menu__contents
      %p りあれいず
      %img.gif{alt: "gif", src: "/assets/rr.gif"}/
      %P 肩甲骨を開きながら