.Areas
  .Area
    .Area__contents
      .Area__contents__introduction
        めろん栽培中
      .Area__contents__name
        肩とれ
    .Area__contents
      .Area__contents__introduction
        肩から脚生やしてます
      .Area__contents__name
        腕とれ
    .Area__contents
      .Area__contents__introduction
        見下げれば対なる丘
      .Area__contents__name
        胸とれ
    .Area__contents
      .Area__contents__introduction
        人類初人力飛行
      .Area__contents__name
        背中とれ
    .Area__contents
      .Area__contents__introduction
        馬も二度見
      .Area__contents__name
        脚とれ
